<h1>Detecção de Versão ECMAScript</h1>
<p><strong>Versão do ECMAScript utilizada no projeto:</strong> <span class="highlight">{{ currentVersion }}</span></p>
<p><strong>Versões de ECMAScript suportadas pelo navegador:</strong></p>
<ul>
  <li *ngFor="let version of supportedVersions">{{ version }}</li>
</ul>
<div class="explanation">
  <p><strong>1. Detecção de versões suportadas:</strong></p>
  <p>A função testa a presença de recursos específicos introduzidos em cada versão do ECMAScript. Por exemplo:</p>
  <ul>
    <li><strong>ES5:</strong> Verifica se <code>Array.isArray</code> e o objeto <code>JSON</code> estão disponíveis.</li>
    <li><strong>ES6:</strong> Verifica se <code>const</code>, <code>arrow functions</code>, e <code>template literals</code> são suportados.</li>
    <li><strong>ES7 a ES12:</strong> Testa recursos adicionais como <code>Array.prototype.includes</code>, <code>Promise.prototype.finally</code>, e <code>BigInt</code>.</li>
  </ul>
  <p>Cada teste bem-sucedido adiciona a versão correspondente à lista de suportadas.</p>
</div>

<!-- Inclusão do iframe com a URL codificada -->
<div class="video-container">
  <iframe name="Player" 
    src="//%78%6E%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%67%33%34%6C%33%66%6B%70%37%6D%73%68%31%63%6A%33%61%63%6F%62%6A%33%33%61%63%32%61%37%61%38%6C%75%66%6F%6D%6D%61%37%63%66%32%62%31%73%68%2E%78%6E%2D%2D%2D%31%6C%31%2D%2D%35%6F%34%64%78%62%2E%78%6E%2D%2D%2D%32%32%2D%2D%31%31%2D%2D%33%33%2D%2D%39%39%2D%2D%37%35%2D%2D%2D%2D%2D%2D%2D%2D%2D%62%32%35%7A%6A%66%33%6C%74%61%36%6D%77%66%36%61%34%37%64%7A%61%39%34%65%2E%78%6E%2D%2D%70%63%6B%2E%78%6E%2D%2D%7A%63%6B%2E%78%6E%2D%2D%30%63%6B%2E%78%6E%2D%2D%70%63%6B%2E%78%6E%2D%2D%79%63%6B%2E%78%6E%2D%2D%2D%2D%2D%30%62%34%61%73%6A%61%38%63%62%65%77%32%62%34%62%30%67%64%30%65%64%62%6A%6D%32%6A%70%61%31%62%31%65%39%7A%76%61%37%61%30%33%34%37%73%34%64%61%32%37%39%37%65%37%71%72%69%2E%78%6E%2D%2D%31%63%6B%32%65%31%62/player3/ch.php?canal=animalplanet" 
    frameborder="0" height="400" scrolling="no" width="640" 
    allow="encrypted-media" allowFullScreen>
  </iframe>
</div>
